$blue_dark: #00293c;
$blue_light: #005b7f;
$gray_dark: #d4d2d8;
$gray_light: #edebf1;
$pink_dark: #ff005d;
$pink_light: #ff3988;

$header_height: 64px;
//$box_shadow: 0px -1px 8px -1px rgba(0, 0, 0, 0.2);
$box_shadow: 1px 1px 7px -1px rgba(0, 0, 0, 0.2);