
.tool_bar {
  &_item {
    display: inline-block;
    font-size: 18px;
    padding: 0 15px;
    color: $blue_dark;
    text-decoration: none;

    &.name {
      font-size: 14px;
      position: relative;
      top: 2px;
    }
  }

  &_left {
    display: flex;
    align-items: center;

  }

  &_right {
    margin-left: auto;
  }
}

.logo {
  display: inline-block;
  max-height: $header_height;

  &_img {
    max-height: inherit;
    width: 45px;
  }
}