
.project {

  &_users {
    width: 50%;
    margin: auto;
  }

  &_members {
    margin-top: 50px;
    text-align: left;
  }
}

.user_card {
  @include transition(.3);
  position: relative;
  text-decoration: none;
  color: $blue_dark;
  //width: 50%;
  box-shadow: $box_shadow;
  display: flex;
  align-items: center;
  margin: 25px auto;
  bottom: 0;
  right: 0;
  height: 120px;

  &:hover {
    bottom: 5px;
    right: 5px;
  }

  &_timeoff_indicator {
    position: absolute;
    background-color: #fe9c4b;
    opacity: .7;
    height: 120px;
    width: 5px;
  }

  &_role_indicator {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 12px;
    color: darkgrey;
    opacity: .7;
    text-transform: capitalize;
  }

  &_left {
    flex-basis: 45%;
  }

  &_right {
    flex-basis: 55%;
    text-align: left;
  }

  &_name {
    font-weight: bold;
  }
}