
.tasks {
  &_header {
    margin-bottom: 40px;
  }
}



.new_task {
  display: flex;
  justify-content: space-between;

  &_select {
    min-width: 250px !important;
  }

  &_details {
    width: 18%;
    min-width: 180px;
  }

  &_time {
    max-width: 125px;
  }

  &_date {
    max-width: 155px;
  }

  &_hours {
    max-width: 75px;
  }

}

.task {
  box-shadow: $box_shadow;
  margin: 20px 0;

  &_up {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #f8f8f8;

  }

  &_down {
    display: flex;
    //justify-content: space-evenly;
    padding: 0 20px;
  }

  &_right {
    margin-left: auto;
  }

  &_item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  &_name {
    color: $pink_dark;
    margin-right: 40px;
  }

  &_hours {
    color: $pink_dark;
  }
}