
.tasks {
  &_header {
    margin-bottom: 40px;
  }

  &_all {
    width: 80%;
    margin: auto;
  }

  &_up {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #f2f2f2
  }

  &_down {
    display: flex;
    flex-direction: column;
  }

  .time_record {
    border-bottom: 1px solid;
  }
}



.new_task {
  display: flex;
  justify-content: space-evenly;

  &_select {
    min-width: 250px !important;
    text-align: left;
  }

  &_details {
    width: 18%;
    min-width: 180px;
  }

  &_time {
    max-width: 125px;
  }

  &_date {
    max-width: 155px;
  }

  &_hours {
    max-width: 75px;
  }

}

.tasks_block {
  margin: 20px 0;
  box-shadow: $box_shadow;
}

.task {
 display: flex;
  padding: 5px 20px;
  border-bottom: 1px solid #f2f2f2;

  &_right {
    margin-left: auto;
  }

  &_item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  &_name {
    margin-right: 40px;
    min-width: 270px;
    text-align: left;
  }

  &_hours {
    color: $pink_dark;
  }

  &_delete {
    //padding: 0;
  }
}