
.timeoffs {
  &_header {
    margin-bottom: 40px;
  }
}



.new_timeoff {
  width: 70%;
  margin: auto;
  min-width: 870px;
  display: flex;
  justify-content: space-evenly;

  &_select {
    min-width: 250px !important;
    text-align: left;
  }

  &_start_date {
    //max-width: 155px;
  }

  &_end_date {
    //max-width: 155px;
  }

}

.timeoff {
  box-shadow: $box_shadow;
  margin: 20px 0;

  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  &_right {
    margin-left: auto;
  }

  &_item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  &_name {
    min-width: 180px;
  }

  &_status {
    &_pending {
      display: inline-block;
      color: $orange;
    }
    &_approved, &_started, &_finished {
      display: inline-block;
      color: $blue_light;
    }
    &_conflict {
      display: inline-block;
      color: $pink_dark;
    }
  }

  &_buttons {
    display: inline-block;
    border-left: 1px solid #e0e0e0;
    padding-left: 20px;
    margin-left: 10px;

    button {
      @include transition(.3);
      background-color: white;
      border-radius: 5px;
      font-size: 16px;
      padding: 5px 20px;

      &:hover {
        cursor: pointer;
        color: white;
      }
    }
  }

  &_cancel {
    border: 1px solid $blue_light;
    color: $blue_light;
    margin-right: 10px;
    &:hover {
      background-color: $blue_light;
    }
  }

  &_submit {
    border: 1px solid $pink_dark;
    color: $pink_dark;
    &:hover {
      background-color: $pink_dark;
    }
  }

}