
.timeoffs {
  &_header {
    margin-bottom: 40px;
  }

  &_all {
    width: 80%;
    margin: auto;
  }
}



.new_timeoff {
  width: 70%;
  margin: auto;
  min-width: 870px;
  display: flex;
  justify-content: space-evenly;

  &_select {
    min-width: 250px !important;
    text-align: left;
  }

  &_start_date {
    //max-width: 155px;
  }

  &_end_date {
    //max-width: 155px;
  }

}

.timeoff_wrapper {
  display: flex;
  align-items: center;
  margin: 20px 10px 20px 0;
}

.timeoff {
  flex-basis: 100%;
  box-shadow: $box_shadow;

  display: flex;
  justify-content: space-between;
  padding: 5px 20px;

  &_right {
    margin-left: auto;
  }

  &_cta {

    &_manager {
      width: 115px;
    }
    &_employee {
      width: 55px;
    }
    & client {
      width: 0;
    }
  }

  &_item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  &_name {
    min-width: 180px;
  }

  &_status {
    &_pending {
      display: inline-block;
      color: $orange;
    }
    &_approved, &_started, &_finished {
      display: inline-block;
      color: $blue_light;
    }
    &_conflict {
      display: inline-block;
      color: $pink_dark;
    }
  }

  //&_buttons {
  //  display: inline-block;
  //  padding-left: 20px;
  //  margin-left: 10px;
  //
  //  button {
  //    @include transition(.3);
  //    background-color: white;
  //    border-radius: 5px;
  //    font-size: 16px;
  //    padding: 5px 20px;
  //
  //    &:hover {
  //      cursor: pointer;
  //      color: white;
  //    }
  //  }
  //}

  &_cancel {
    border: 1px solid $blue_light;
    color: $blue_light;
    margin-right: 10px;
    &:hover {
      background-color: $blue_light;
    }
  }

  &_submit {
    border: 1px solid $pink_dark;
    color: $pink_dark;
    &:hover {
      background-color: $pink_dark;
    }
  }

}